/*Reset Css*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Configuração Geral do Corpo da Página */
body {
    margin: 0px;
    background-color: #393939;
    font-family: "Century Gothic", sans-serif;
    color: #FFF;
}

/* Configurações Gerais */

/* Plano de Fundo do Menu */
header .lsImmortalAlbumBkgd {
    position: absolute;
    height: 500px;
    width: 100%;
    bottom: 230px;
}

/* Logo no Plano de Fundo do Menu */

header .lsLogoMenu {
    position: relative;
    height: 250px;
}

/* Botões do Menu */

#menuNav {
    clear: both;
    width: 70%;
    margin: 0px auto;
    height: 75px;
}

/* Decoração dos botões do Menu */

nav a {
    color: black;
    text-decoration: none;
    text-align: center;
}

nav .opcao {
    position: relative;
    float: right;
    width: 29%;
    background-color: gray;
    padding: 10px 0;
    margin: 0 1%;
    font-weight: 900;
    border-radius: 5px;
    left: 175px;
    bottom: 275px;
    cursor: pointer;
}

/* Logo no topo do Header */

.lsLogoIntroSite {
    text-align: center;
}

/* Texto de introdução no meio do Header */

.introSite {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}

/* Imagem de introdução no fim do header */

.imgIntroBanda {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 50px;
}

/* Configuração dos botões com link ao lado da imagem */

.lsLinks {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Indentação dos botões com link ao lado da imagem */

.lsLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Footer / Rodapé */

footer {
    text-align: center;
    background-color: black;
    padding: 10px;
}

/* Logo a direita no rodapé */

.lsFleshCoffinLogo {
    height: 150px;
}

/* Logo no meio do rodapé */

.lsOldLogo {
    height: 150px;
}

/* Plano de Fundo do Menu */

.lsAIRTNLogo {
    height: 150px;
}

/* Buttons */
.saberMais {
    background-color: gray;
    color: black;
    border-radius: 5px;
    height: 60px;
    font-weight: 900;
    cursor: pointer;
}

.faClube {
    background-color: gray;
    color: black;
    border-radius: 5px;
    height: 60px;
    font-weight: 900;
    cursor: pointer;
}

 .opcaoButton{
    background-color: gray;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.faClube:hover, .saberMais:hover, .opcaoButton:hover {
    background-color: #FFF;
    color: rgb(252, 6, 6);
    transition: .3s;
}


.historiaBanda {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}

.lsPainRemainsAW {
    width: 500px;
}

.lsAIRTNWallpaper {
    width: 500px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

table, tr, td, th {
    border: 0px;
    text-align: center;
}

.lsAlbumsMusicas {
    text-align: center;
    margin-top: 100px;
}

.discografia {
    margin-top: 25px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 100px;
}

.login {
    text-align: center;
}

.inscricao {
    width: 80%;
    gap: 100px;
    font-weight: bold;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inscricao input, .inscricao select {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    padding: 5px 0;
}

.inscricao button {
    width: 30%;
    margin: 0 10%;
    background-color: gray;
    font-weight: bold;
    font-size: 16px;
}

form {
    display: flex;
    justify-content: center;
}

/* .lsLogoIntroSite h2 span {
    color: red;
} */
