/* Configuração geral do corpo da página */
body{
    margin: 0px;
    background-color: black;
    font-family: "Century Gothic", sans-serif;
    color: #FFF;
}

/* Configurações gerais */
header .lsImmortalAlbumBkgd{
    position: absolute;
    height: 500px;
    width: 100%;
    bottom: 230px;
}

header .lsLogoMenu{
    position: relative;
    height: 250px;
}

#menuNav{
    clear: both;
    width: 75%;
    margin: 0px auto;
    height: 150px;
}

nav a{
    color: black;
    text-decoration: none;
    text-align: center;
}

nav .opcao{
    position: relative;
    float: right;
    width: 29%;
    background-color: gray;
    padding: 10px 0;
    margin: 0 1%;
    font-size: 26px;
    left: 175px;
    bottom: 275px;
}
.lsLogoIntroSite{
    text-align: center;
}

.introSite{
    margin-top: 150px;
    margin-right: 150px;
    margin-left: 150px;
}

.imgIntroBanda{
    margin-top: 150px;
    margin-left: 100px;
}

.lsLinks{
    margin-top: 150px;
    margin-right: 150px;
}

footer{
    background-color: gray;
    padding: 10px;
}

.lsFleshCoffinAlbumLogo{
    
    height: 150px;
}

.lsOldLogo{
    
    height: 150px;
}

.lsImmortalAlbumLogo{
    right: 500px;
    height: 150px;
}

/*header .soiElegyAlbumBackground {
    background-image: url("https://static1.squarespace.com/static/ta/507c1fdb84ae362b5e7be351/2146/assets/alt-bg-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5cdf1dd585985c0001ddf8dc/1633098371319-WC7PSBAX83MDEBE0J3DB/Shadow+of+Intent_2021_07.jpg);
    background-position: top left;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    z-index: 1
}
*/

/* Cabeçalho */


/* Menu */


/* Configuração da página incial */

